*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
}

.main-container{
    justify-items: center;
    align-content: center;
    height: 90vh;
}

img{
    width: 250px;
    border: 2px solid red;
}

img:hover{
    border: none;
}

div > p {
    border: 1px solid #333;
    width: fit-content;
    padding: 8px;
    background-color: blueviolet;
    color: white;
    font-weight: bold;
}